go 1.21

use (
	nuclear
	standard/collection/cache
	standard/collection/enum
	standard/collection/stderrs
	standard/test/lab
	standard/test/container
	standard/utils/recovery
	standard/utils/reflector
	standard/sdk/workspace
)
